$navbar-dark-color: hsla(157, 95%, 64%, 0.788);
$primary: hsla(157, 95%, 64%, 0.788);

@import '../node_modules/bootstrap/scss/bootstrap';

#app {
  height: 100vh;
}

header {
  margin-bottom: 5.5rem;
}

h2.centre{
  text-align: center;
}
.carousel-item{
  height: 80vh !important;
}
body{
  background-color:hsla(207, 33%, 89%, 0.788);
}
footer{
  background-color: rgb(33, 37, 41);
}